<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webpack2</title>
</head>
<body>
    <div class="form-group">
        <input type="text" class="form-control" />
    </div>

    <%= htmlWebpackPlugin.files.webpackManifest %>
    <!--<script type="text/javascript" src="dist/manisfest.25d8326fb4c88181ba9a.bundle.js"></script>
    <script type="text/javascript" src="dist/vendor.4b9db45177096799af1e.bundle.js"></script>
    <script type="text/javascript" src="dist/app.bd19bc064710a216f090.bundle.js"></script>-->
</body>
</html>